 body{
    background-color:black;
    color: whitesmoke;
}
div{
    background-color: darkmagenta;
    text-align: center;
    border: 2px solid white;
    padding: 20px;
    font-size: 1em;
} 
/* 1fr =225px */
.container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 20px;
    margin: 20%;
    margin-top: 100px;
}
.grid1{
    grid-column-start: 1;
    grid-column-end: 5;
    text-align: end;
}
.result{
    grid-column-start: 3;
    grid-column-end: 5;
}