body{
    background-color: darkmagenta;
    color: whitesmoke;
}
div{
    background-color: darkmagenta;
    text-align: center;
    border: 2px solid black;
    padding: 20px;
    font-size: 2em;
}
